<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Зарегистрироваться | Lider.kz</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" action="" method="POST">
      {% csrf_token %}
      <div class="logo-container" onclick="location.href='/'">
        <a style="cursor: pointer;">
          <span class="logo-img"></span>
          <span class="logo-text logo-text-part1">Volunteer</span>
          <span class="logo-text logo-text-part2">Site</span>
        </a>
      </div>
      <h1 class="h3 mb-3 font-weight-normal" style="color: #dfe6eb;">Зарегистрироваться</h1>
      
      <input type="text" id="name" name="name" class="form-control form-control2" placeholder="Имя" required autofocus><br>
      
      <input type="text" id="lastname" name="lastname" class="form-control form-control2" placeholder="Фамилия" required autofocus><br>
      
      <input type="text" id="username" name="username" class="form-control form-control2" placeholder="Логин" required autofocus><br>
      
      <input type="text" id="email" name="email" class="form-control form-control2" placeholder="Email" required autofocus><br>
      
      <input type="password" id="inputPassword" name="password" class="form-control form-control2" placeholder="Введите ваш пароль" required><br>
      
      <input type="password" id="password2" name="password2" class="form-control form-control2" placeholder="Подтвердите пароль" required><br>

      <select class="form-control form-control2" style="padding: 0; padding-left: 10px;" name="userType" id="userType">
        <option class="form-control select-signup" value="1">Волонтер</option>
        <option class="form-control select-signup" value="2">Организация</option>
      </select>

      <p class="mt-5 mb-3" style="color: #dfe6eb;">Вы уже зарегистрированы? <a href = "/login/" class="signup-link">Войти</a></p>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
    </form>
  </body>

  <script src="{% static 'jquery-3.7.0.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{% static 'popper.min.js' %}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
