{% load static %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/admin.css' %}" rel="stylesheet" />

<style>
    body {
        background-color: #44433e;
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 400px;
        margin: 100px auto;
        padding: 50px;
        background-color: #838484;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 28px;
        color: #fff;
    }

    p {
        margin-bottom: 10px;
    }

    form {
        margin-top: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"] {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #18cfab;
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;z-index: 1;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #282a2c;">
    <div class="logo-container" onclick="location.href='/'">
        <a style="cursor: pointer;">
            <span class="logo-img"></span>
            <span class="logo-text logo-text-part1">Volunteer</span>
            <span class="logo-text logo-text-part2">Site</span>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" style="gap: 30px;">
            <li class="nav-item">
                <a href="/loadHomepage/{{ username }}/" class="nav-link-hp">Назад</a>
            </li>

            <li class="nav-item">
                <a class="nav-link-hp" href="/logout/">Выйти</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Создать мероприятие</h1>
    <form action="/event_creation/{{ username }}/" method="POST">
        {% csrf_token %}
        <label for="event_name">Название:</label>
        <input class="form-control form-control2" type="text" name="event_name" required />
        <br />

        <label for="event_description">Описание:</label>
        <textarea class="form-control form-control2" name="event_description" required></textarea>
        <br />

        <label for="event_type">Тип:</label>
        <input class="form-control form-control2" type="text" name="event_type" required />
        <br />

        <label for="location">Место:</label>
        <input class="form-control form-control2" type="text" name="location" required />
        <br />

        <label for="no_of_positions">Кол-во позиции:</label>
        <input class="form-control form-control2" type="number" name="no_of_positions" required />
        <br />

        <label for="date">Дата:</label>
        <input class="form-control form-control2" type="date" name="date" required />
        <br />

        <label for="stime">Начало:</label>
        <input class="form-control form-control2" type="text" name="stime" required />
        <br />

        <label for="etime">Конец:</label>
        <input class="form-control form-control2" type="text" name="etime" required />
        <br />

        <button class="btn" type="submit">Создать мероприятие</button>
    </form>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
