<h1 class="text-center title-homapage">Homepage</h1>

{% load static %}
{% load filter %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

<style>
    body {
        background-color: #44433e;
        padding-top: 70px;
        height: 100vh;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    h5 {
        color: #28a745;
    }

    .title-homapage {
        color: #dfe6eb;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .user-type {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .logout-link {
        margin-bottom: 10px;
    }

    .event-box {
        padding: 10px;
        margin-bottom: 20px;
        background-color: #f8f9fa;
        border-radius: 5px;
        cursor: pointer;
    }

    .event-box:hover {
        background-color: #e9ecef;
    }

    .event-title {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .event-link {
        display: inline-block;
        padding: 5px 10px;
        background-color: #18cfab;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .event-link:hover {
        background-color: #0056b3;
        color: #fff;
        text-decoration: none;
    }

    .event-description {
        margin-bottom: 10px;
    }

    .navbar-brand {
        color: #fff;
    }

    .nav-link-hp {
        color: #ccc;
        transition: color 0.3s linear;
        text-decoration: none;
        position: relative;
    }

    .nav-link-hp::after {
        content: "";
        position: absolute;
        bottom: -8px; 
        left: 0;
        width: 100%;
        height: 2px; 
        background-color: #18cfab; 
        transform: scaleX(0); 
        transform-origin: bottom;
        transition: transform 0.3s; 
    }

    .nav-link-hp:hover:after {
        transform: scaleX(1); 
    }

    .nav-link-hp:hover {
        color: #18cfab;
        text-decoration: none;
    }

    .logo-img {
        display: inline-block;
        vertical-align: middle;
        width: 61px;
        height: 69px;
        margin-right: 5px;
        background: url(/static/img/logo.png) no-repeat;
        background-size: 60px;
    }

    .logo-text {
        display: inline-block;
        vertical-align: middle;
        font-size: 32px;
        text-decoration: none;
    }
    .logo-text-part1 {
        font-weight: 400;
        color: #ffffff;
    }
    .logo-text-part2 {
        font-weight: bold;
        color: #18cfab;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #282a2c;">
    <div class="logo-container" onclick="location.href='/'">
        <a style="cursor: pointer;">
            <span class="logo-img"></span>
            <span class="logo-text logo-text-part1">Volunteer</span>
            <span class="logo-text logo-text-part2">Site</span>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" style="gap: 30px;">
            <li class="nav-item">
                <a class="nav-link-hp" href="/setting/{{ user_type }}/{{ username }}">Настройки профиля</a>
            </li>
            {% if user_type == 2 %}
                <li class="nav-item">
                    <a class="nav-link-hp" href="/event_creation/{{ username }}">Создать мероприятие</a>
                </li>
            {% endif %} {% if user_type == 1 %}
                <li class="nav-item">
                    <a class="nav-link-hp" href="/myEvents/{{ username }}">Мои мероприятия</a>
                </li>
            {% endif %} {% if user_type == 2 %}
                <li class="nav-item">
                    <a class="nav-link-hp" href="/volunteerEvents/{{ username }}">Волонтеры</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link-hp" href="/logout/">Выйти</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h5>{{ message }}</h5>
    <div class="user-type">Добро пожаловать! <span>{{ username }}</span></div>

    <div class="event-list">
        {% if events %}
            {% for event in events %}
                <div class="event-box" onclick="window.location.href='/event-details/{{ event.id }}/{{ username }}'">
                    <p class="event-title"><strong>Название:</strong> {{ event.eventName }}</p>
                    <p><strong>Тип:</strong> {{ event.eventType }}</p>
                    <p><strong>Место:</strong> {{ event.location }}</p>
                    <p><strong>Дата:</strong> {{ event.eventDate }}</p>
                    <p><strong>Кол-во позиции:</strong> {{ event.noOfPositions }}</p>
                    {% if user_type == 2 %}
                        <p><a href="/deleteEvent/{{ event.id }}/{{ username }}">Удалить</a></p>
                    {% endif %}
                    {% if user_type == 1 %} 
                        {% if event|is_registered:username %}
                            <b>Вы успешно подписались</b>
                        {% else %}
                            {% if event.noOfPositions == 0 %}
                                <b>Заполнено</b>
                            {% else %}
                                <p><a class="event-link" href="/registerEvent/{{ event.id }}/{{ username }}">Подписаться</a></p>
                            {% endif %} 
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <h4 style="text-decoration: underline;">Пока нет никаких мероприятии</h4>
        {% endif %}
    </div>
</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
