<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Волонтерская организация - lider.kz</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Сайт волонтерской организации lider.kz - волонтерство, помощь и поддержка в Казахстане. Присоединяйтесь к нам и сделайте добро вместе!" />
		<meta name="keywords" content="волонтерство, помощь, волонтеры, добро, Казахстан, lider.kz" />
		<meta name="author" content="Ваше имя или название организации" />
		<link href="/static/css/grid12.css" rel="stylesheet"/>
		<link href="/static/css/style.css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	</head> 	
	<body>
		<div id="main-app"></div>
		
		<script type="text/javascript" src="{% static 'static/js/build/bundle.js' %}"></script>
	</body>
</html>
