html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #44433e;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logo-img {
  display: inline-block;
  vertical-align: middle;
  width: 61px;
  height: 69px;
  margin-right: 5px;
  background: url(../img/logo.png) no-repeat;
  background-size: 60px;
}

.logo-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  text-decoration: none;
}
.logo-text-part1 {
  font-weight: 400;
  color: #ffffff;
}
.logo-text-part2 {
  font-weight: bold;
  color: #18cfab;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  background-color: #18cfab;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

.btn:hover {
  background-color: #00cbf6;
  transition: all 0.5s;
}

.signup-link {
  color: #cfcfcf;
  text-decoration: underline;
  transition: color 0.3s;
}

.signup-link:hover {
  color: #ffffff;
}

.form-signin .form-control2:focus {
  border-color: #18cfab;
}

select.form-control2 .select-signup {
  padding: 10px;
  transition: background-color, color 0.2s;
}

select.form-control2:hover .select-signup {
  background-color: #18cfab;
  color: #ffffff;
}